{% extends 'layouts/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h3 class="text-center">EVENT LISTS</h3>
                </div>
            </div>    
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <form action="/events/" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col">
                                <button type="submit" value="Submit" class="text-uppercase btn bg-gradient-primary w-100">Create list</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row d-flex justify-content-center mt-6">
                    {% if lists %}
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lists</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for list in lists %}
                                            <tr>
                                                <td>
                                                <div class="justify-content-center  px-2 py-1">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <span>
                                                                <a class=" text-uppercase text-xs font-weight-bold mb-0" href="/events/{{ list.name }}/">{{ list.name }}</a>
                                                            </span>
                                                        </div>
                                                        <div class="col-4">
                                                            <span>
                                                                <button type="submit" value="Submit" class="text-uppercase btn bg-gradient-danger mr-2 btn-sm">Delete</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <p>Something went wrong.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}