{% extends 'layouts/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h3 class="text-center text-uppercase">Delete {{list.name}}</h3>
                </div>
            </div>    
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-auto text-center">
                        <a href="{% url 'list_event_lists' %}" class="text-uppercase btn bg-gradient-success mr-2">Cancel</a>
                    </div>
                    <div class="col-md-auto text-center">
                        <a href="{% url 'delete_list' list_name=list.name %}" class="text-uppercase btn bg-gradient-danger mr-2">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
