{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid mt-2">

      <div class="card-header">
        <h1 class="text-center text-upercase mb-4 display-1">Docker utility to remote work setup</h1>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col m-2">
            <div class="card h-100" onclick="location.href='https://meet.anibaltfg.es';" style="cursor: pointer;">
              <div class="card-head text-center">
                <img src="/static/assets/img/logos/jitsi-logo.png" width = "" height = "150"></img>
              </div>
              <div class="card-body">
                <h5 class="text-center"> Access to a videocall using its name.  </h5>
              </div>
            </div>
          </div>
          <div class="col m-2">
            <div class="card h-100" onclick="location.href='https://vpn.anibaltfg.es/';" style="cursor: pointer;">
              <div class="card-head text-center">
                <img src="/static/assets/img/logos/wireguard-logo.png" width = "" height = "150"></img>
              </div>
              <div class="card-body">
                  <h5 class="text-center"> VPN dashboard for user credential creation. </h5>
              </div>
            </div>
          </div>
          <div class="col m-2">
            <div class="card h-100" onclick="location.href='https://traefik.anibaltfg.es';" style="cursor: pointer;">
              <div class="card-head text-center">
                <img src="/static/assets/img/logos/traefik-logo.png" width = "" height = "150"></img>
              </div>
              <div class="card-body">
                  <h5 class="text-center"> Check for the status of the reverse proxy. </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m-2">
            <div class="card h-100" onclick="location.href='{% url 'list_event_lists' %}'" style="cursor: pointer;">
              <div class="card-head text-center">
                <img class="mt-4 mb-2" src="/static/assets/img/logos/logo.png" width = "" height = "150"></img>
                <h3 class="text-center text-uppercase">Event list</h3>
              </div>
              <div class="card-body">
                <h5 class="text-center"> Schedule your task and events.  </h5>
              </div>
            </div>
          </div>
          <div class="col m-2">
            <div class="card h-100" onclick="location.href='/admin'" style="cursor: pointer;">
              <div class="card-head text-center">
                <img class="mt-4 mb-2" src="/static/assets/img/logos/admin-page-logo.png" width = "" height = "150"></img>
                <h3 class="text-center text-uppercase">Event list admin page</h3>
              </div>
              <div class="card-body">
                  <h5 class="text-center"> Admin objects from event list. </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m-2">
            <div class="card">
              <div class="card-head text-center">
                <h3>Event manager REST interactive interface</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col m-2">
                    <div class="card text-center" onclick="location.href='/api'" style="cursor: pointer;">
                      <h4>Root</h4>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card text-center" onclick="location.href='/api/event'" style="cursor: pointer;">
                      <h4>Events</h4>
                    </div>
                  </div>
                  <div class="col m-2">
                    <div class="card text-center" onclick="location.href='/api/eventlist'" style="cursor: pointer;">
                      <h4>Event lists</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
