{% extends "base.html" %}
{% block main_content %}
<div class="center">
    <h3>Welcome to the Karate Dojo!</h3>
    <p>Check out upcoming class offerings by selecting from the menu above</p>

    <h3>Our Belt Classes</h3>
    <p>Select your belt below to see upcoming events:</p>
    <ul id="belts">
        <li><a id="white-belt"  href="">White belt</a></li>
        <li><a id="yellow-belt" href="">Yellow belt</a></li>
        <li><a id="green-belt"  href="">Green belt</a></li>
        <li><a id="brown-belt"  href="">Brown belt</a></li>
        <li><a id="black-belt"  href="">Black belt</a></li>
    </ul>
</div>
{% endblock main_content %}