{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
<div class="container-fluid m-2">
    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h3 class="text-center text-uppercase">Logged out</h3>
                </div>
            </div>    
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <p class="text-center"> You can sign in again here:</p>
                    <a class="text-center" href="{% url 'login' %}">Sing up again</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}