{% extends "base.html" %}
{% block title %}Add Event{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <h3>Add Event</h3>
    </div>
    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
    <p class="form-errors">Please fix any errors.</p>
    {% endif %}
    <form method="post" action="">{% csrf_token %}
        <div class="table-responsive">
            <table class="table mb-0">
                <tfoot>
                    <tr>
                        <td colspan="2"><input type="submit" value="Submit" /></td>
                    </tr>
                </tfoot>
                <tbody>
                {% include "swingtime/event_form_part.html" %}
                {% include "swingtime/recurring_form_part.html" %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock %}
